*header{
    margin-top: 56px;
    width: 100%;
    height: 120px;
    background-color: #8a1111;
  }
  .navbar{
    background-color: #7a1f1f;
  }
  .navbar a{
    background-color: #ad0e0e;
  }
  body{
    background-color: rgb(194, 82, 82);
  }
  
  
  .main{
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
  }
  .menu{
    position: relative;
    margin-top: 20px;
    padding: 15px;
    width: 100%;
    background-color: #703d3d;
  }
  .menu button{
    background-color: #703d3d;
  }
  .menu button:hover{
    background-color: #ffdddd;
  }
  .dropdown-menu{
    background-color: #831111;
  }
  
  .dropdown-menu a:hover{
    background-color: #c04545;
  }
  .hyper_links_section{
    margin-top: 50px;
    position: relative;
    background-color: #e0bfbf;
  }
  
  .hyper_links_body{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  
  .hyper_links_body ul{
    list-style: none;
  }
  .hyper_links_body a{
    color: #310909;
  }
  .table_section{
    margin-top: 50px;
    position: relative;
    background-color: #e0bfbf;
  }
  
  .form_section{
    margin-top: 50px;
    position: relative;
    background-color: #e0bfbf;
  
  }
  .form-group input{
    background-color: #ccadad;
  }
  .form-control{
    background-color: #ccadad;
  }
  
  .footer{
    margin-top: 20px;
    background-color:#8a0c0c;
  }
  .main{
    display: flex;
    flex-direction: column;
  }
  
  @media screen and (max-width: 480px) {
    table{
      border-collapse: collapse;
      width: 100%;
      margin: 20px 0;
    }
  
    table thead{
      display: none;
    }
  
    tr{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 30px;
    }
  
    td {
      padding-top: 35px;
      position: relative;
      width: 100%;
    }

  .table_section{
    order: -1;
    margin-bottom: 10px;
  }
}
